.visu_message {
  margin: 10px;
  padding: 1em;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  border-color: black;
  background-color: #eee;
  text-align: center;


}

.bouton {
padding: 1px 6px;
border: 1px outset buttonborder;
border-radius: 3px;
color: buttontext;
background-color: buttonface;
text-decoration: none;

}

.right{
    position:relative;
    left: 92%;
    
}




h1{
    text-align: center;
}